.login {
   height: 100%;
}

.login__content {
   position: absolute;
   width: 520px;
   height: 425px;
   left: calc(50% - 520px/2);
   top: 222px;
}

.login__content > div {
   margin-bottom: 20px;
}

.content__icon, .content__git {
   text-align: center;
}

.content__git a {
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #999999;
}

.content__form-wrapper {
   padding: 40px 30px;
   background-color: #ffffff;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   color: #0D0D0D;
}

.form__header {
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
}

.error {
   display: flex;
   flex-flow: row nowrap;
   background: rgba(207, 44, 0, 0.1);
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 50px;
   gap: 10px;
}

.error__icon {
   margin-top: 4px;
}

.error__description{
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
}

.description__header {
   font-weight: normal;
   font-size: 18px;
   line-height: 30px;
   color: #CF2C00;
   margin: 0;
}

.description__text {
   font-size: 12px;
   line-height: 20px;
   color: #CF2C00;
   opacity: 0.5;
}
