.text-field {
   display: flex;
   flex-flow: column;
   margin-bottom: 25px;
}

.text-field__label {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 5px;
}

.label__text, .label__subtext {
   line-height: 20px;
   font-size: 16px;
}

.label__subtext {
   font-size: 12px;
   color: #999999;
}

.text-field__input, .text-field__textarea {
   background-color: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   outline: none;
}

.text-field__input {
   font-size: 16px;
   line-height: 20px;
   height: 40px;
   padding: 5px 10px;
}

.text-field__textarea {
   font-size: 14px;
   line-height: 18px;
   padding: 10px;
   width: 100% !important;
}

.text-field__input:focus {
   border: 2px solid rgba(0, 0, 0, 0.2);
   border-radius: 7px;
}

.text-field__input:hover{
   border: 1px solid rgba(0, 0, 0, 0.4);
   border-radius: 5px;
}

.text-field.field-error .label__text,
.text-field.field-error .text-field__input {
   color: #CF2C00;   
}

.text-field.field-error .text-field__input {
   border: 1px solid #CF2C00;
   box-sizing: border-box;
   box-shadow: 0px 0px 5px rgba(207, 44, 0, 0.5);
}

.button {
   background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
   border-radius: 5px;
   padding: 5px 10px;
   outline: none;
   border: none;
   min-width: 110px;
   text-align: center;
}

.button.inactive {
   background: linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
}

.button:not(.inactive):hover {
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.button:not(.inactive):focus {
   opacity: 0.5;
   border: 2px solid #45A5FF;
   border-radius: 7px;
}

.button:not(.inactive):active {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.button__text, .button__loader {
   display: inline-block;
   line-height: 30px;  
   height: 30px;
}

.button__text {
   color: #FFFFFF;
   font-weight: 500;
   font-size: 16px;
}

@keyframes rotate{
   to { transform: rotate(360deg); }
}

.button__loader {
   font-size: 0;
   animation: rotate 1.5s linear infinite;
}

.button__loader svg{
   vertical-align: middle;
}