.console {
   position: absolute;
   width: 1440px;
   height: 1045px;
   left: 100px;
   top: 50px;
   color:#0D0D0D;
   transition: all 0.2s linear;
}

.console.fullScreen {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.console__header, .console__request-history {
   background-color: #F6F6F6;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.console__header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
}

.header__right-side, .header__left-side {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   gap: 20px;
}

.header__left-side {
   gap: 30px;
}

.right-side__title {
   font-size: 20px;
   line-height: 30px;
}

.left-side__user, .request-history__list {
   padding: 5px 15px;
}

.left-side__user {
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 5px;
}

.small-text {
   font-size: 16px;
   line-height: 20px;
}

.user__login, .user__sublogin, .user__separator, 
.opacity-button__text {
   font-size: 16px;
   line-height: 20px;
}

.user__separator {
   margin: 0px 5px;
   color: rgba(0, 0, 0, 0.2);
}


.opacity-button, .point__button {
   background: none;
   outline: none;
}

.opacity-button {
   border: 2px solid rgba(0, 0, 0, 0);
   border-radius: 7px;
   height: 32px;
}

.opacity-button:focus {
   border-color: #45A5FF;
}

.opacity-button:focus .opacity-button__text,
.opacity-button:hover .opacity-button__text {
   color: #0055FB; 
}

.opacity-button:focus .opacity-button__icon path,
.opacity-button:hover .opacity-button__icon path{
   stroke:#0055FB;
}

.opacity-button__text, .opacity-button__icon {
   vertical-align: middle;
}

.opacity-button__text {
   margin-right: 11px;
}

.console__request-history {
   display: flex;
   flex-flow: row nowrap;
}

.request-history__list {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   gap: 10px;
   flex: 1 1 calc(100% - 51px);
   overflow-x: visible;
}

.list__item {
   position: relative;
   padding: 0 5px 0 10px;
   background-color: #FFFFFF;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   flex: 0 0 120px;
}

.item__content {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   gap: 5px;
}

.content__status {
   width: 10px;
   height: 10px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 50%;
}

.content__status.success {
   background: #30B800;
}

.content__status.error {
   background:#CF2C00;
}

.item__menu {
   position: absolute;
   left: 0;
   width: 100%;
   background: #FFFFFF;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
   border-radius: 3px;
}

.menu__point {
  padding: 5px 0;
}

.menu__point:last-child {
   border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.point__button {
   padding: 15px;
   width: 100%;
   border: none;
   text-align: left;
}

.point__button:hover {
   color: #ffffff;
   background-color: #0055FB;
}

.point__button_red:hover {
   background-color:  #CF2C00;;
}

.request-history__close {
   flex: 0 0 51px; 
   padding: 14px;
   border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.console__form { 
   background-color: #ffffff;
}

.form__main {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
   gap: 3px;
   padding: 10px 15px 15px 15px;
}

.main__separator {
   flex: 0 0 4px;
}

.form__main .textarea-field {
   flex: 2 1 50%;
}

.form__main .textarea-field__textarea{
   resize: none;
   min-height: 830px;
}

.form__main .textarea-field__label {
   color: #999999;
}

.form__footer {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   border-top: 1px solid rgba(0, 0, 0, 0.2);;
}